<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Backups list</title>
    <script src=""></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/xedinaskabackupsmanager/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ asset('bundles/xedinaskabackupsmanager/bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Example Template</a>
        </div>
        <div class="navbar-collapse collapse">
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Backups list</h1>
        <p>Here is list of last made data backups</p>
        <p>
            <a href="{{ path('xedinaska_backups_manager_add_backup') }}" class="btn btn-primary btn-lg" role="button">Create Backup Now</a>
        </p>
    </div>

    <table class="table">
        <tr>
            <th>#</th>
            <th>Path</th>
            <th>Type</th>
            <th>Size</th>
            <th>Created</th>
        </tr>

        {% for backup in backups %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ backup.getPath() }}</td>
                <td>{{ backup.getType() }}</td>
                <td>{{ backup.getSize() }}</td>
                <td>{{ backup.getCreated() | date('Y/m/d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ asset('bundles/xedinaskabackupsmanager/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
